<div style="padding: 20px;">
	<form [formGroup]="registerForm" (submit)="send()">
		<div class="form-group">
			<label>First name</label>
			<input type="text" class="form-control" placeholder="First name" formControlName="firstname">
		</div>

		<div class="form-group">
			<label>Last name</label>
			<input type="text" class="form-control" placeholder="Last name" formControlName="lastname">
		</div>

		<div class="form-group">
			<ttv-counter formControlName="counter"></ttv-counter>
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>

	Valid: {{registerForm.valid}}
	{{ registerForm.value | json }}
</div>